*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#f4f4f4;
}

nav{
    background:#f7c600;
    padding:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

input{
    width:40%;
    padding:10px;
    border:none;
    border-radius:5px;
}

.cart{
    font-size:20px;
}

.products{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
    padding:20px;
}

.card{
    background:white;
    padding:15px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 0 10px rgba(0,0,0,.1);
}

.card img{
    width:120px;
    height:120px;
    object-fit:cover;
}

button{
    margin-top:10px;
    background:green;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:darkgreen;
}

.remove-btn{
    background:red;
    margin-left:10px;
}

.remove-btn:hover{
    background:darkred;
}